# OS
.DS_Store

# Python/Django
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
db.sqlite3
db.backup*.sqlite3

# Logs & zips
*.log
*.zip

# Build/static outputs die je lokaal genereert
staticfiles/
backups/
*.tar.gz
*.pyc
