{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
  {% if original.pk %}
    <li>
      <a href="{% url 'daily-invoice-preview-logo' original.pk %}" class="button" target="_blank">
        Voorbeeld (logo)
      </a>
    </li>
    <li>
      <a href="{% url 'daily-invoice-preview-preprinted' original.pk %}" class="button" target="_blank">
        Voorbeeld (voorbedrukt)
      </a>
    </li>
    <li>
      <a href="{% url 'daily-invoice-print-logo' original.pk %}" class="button" target="_blank">
        Print (logo)
      </a>
    </li>
    <li>
      <a href="{% url 'daily-invoice-print-preprinted' original.pk %}" class="button" target="_blank">
        Print (voorbedrukt)
      </a>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock %}